<!-- search bar -->
<div class="container search-bar">
  <div class="search-bar-outer">
    <div class="search-bar-inner">
      <form action="/search">
        <h4 class="mb-2">尋找餐廳：</h4>
        <div class="row g-5">
          <div class="input-group col">
            <input type="text" name="keyword" class="form-control" placeholder="輸入餐廳、分類" aria-label="Restaurant Name..."
              value="{{keywords}}" aria-describedby="search-button">
            <div class="input-group-append">
              <button class="btn btn-major" type="submit" id="search-button"><i class="fas fa-search"></i></button>
            </div>
          </div>

          <form action="/sort" method="GET">
            <div class="col">
              <select class="form-select" name="sort">
                <option value="">Sort</option>
                <option value="A">A->Z</option>
                <option value="Z">Z->A</option>
                <option value="類別">類別</option>
                <option value="地區">地區</option>
              </select>
            </div>
          </form>
        </div>
    </div>
    </form>
  </div>
</div>

<!-- restaurant list -->
<div class="container mt-5">
  {{> message}}
  <div class="col-sm-11 mx-auto">
    <div class="row row-cols-md-3">
      {{#each restaurants}}
      <div class="col">
        <a href="/restaurants/{{this.id}}" class="text-secondary">
          <div class="card mb-3">
            <img class="card-img-top" src="{{this.image}}" alt="{{this.name}}">
            <div class="card-body p-3">
              <h6 class="card-title mb-1">{{this.name}}</h6>

              <div class="restaurant-category mb-1">
                <i class="fas fa-utensils pr-2"></i>{{this.category}}
              </div>

              <span class="badge rounded-pill bg-danger font-weight-normal">
                {{this.rating}}
                <i class="fas fa-star fa-xs"></i>
              </span>
            </div>

            <div class="card-footer p-1">
              <a class="btn btn-outline-primary" href="/restaurants/{{this.id}}/edit" role="button">Edit</a>
              <a class="btn btn-outline-success" href="/restaurants/{{this.id}}" role="button">Detail</a>
              <form action="/restaurants/{{this.id}}?_method=DELETE" method="POST">
                <button type="submit" class="btn btn-outline-danger">Delete</button>
              </form>
            </div>

          </div>
        </a>
      </div>
      {{/each}}
    </div>


    <ul class="pagination justify-content-center">
      <li class="page-item">
        <form action="/restaurants" method="GET" style="display: inline;">
          <input type="hidden" name="page" value="{{prev}}">
          <button class="page-link" type="submit">&laquo;</button>
        </form>
      </li>
      <li class="page-item">
        <span class="page-link">{{page}}</span>
      </li>
      <li class="page-item">
        <form action="/restaurants" method="GET" style="display: inline;">
          <input type="hidden" name="page" value="{{next}}">
          <button class="page-link" type="submit">&raquo;</button>
        </form>
      </li>
    </ul>

  </div>
</div>